// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "./build-id.xcconfig"

MOZ_BUNDLE_DISPLAY_NAME = Brave
MOZ_PRODUCT_NAME = Brave
MOZ_APP_ID = braveios@brave.com
MOZ_BUNDLE_ID = com.brave.ios.browser.$(MOZ_PRODUCT_NAME)

// App Version
MOZ_VERSION = 0.7

MOZ_BUILD_ID = $(GENERATED_BUILD_ID)

FRAMEWORK_SEARCH_PATHS = .

OTHER_SWIFT_FLAGS_Debug = -DBRAVE -DDEBUG
OTHER_SWIFT_FLAGS_Firefox = -DBRAVE
OTHER_SWIFT_FLAGS=$(OTHER_SWIFT_FLAGS_$(CONFIGURATION))

VALIDATE_PRODUCT_Firefox = YES
VALIDATE_PRODUCT_Debug = NO
VALIDATE_PRODUCT = $(VALIDATE_PRODUCT_$(CONFIGURATION))

ENABLE_TESTABILITY_Firefox = NO
ENABLE_TESTABILITY_Debug = YES
ENABLE_TESTABILITY = $(ENABLE_TESTABILITY_$(CONFIGURATION))

GCC_PREPROCESSOR_DEFINITIONS_Debug = DEBUG=1
GCC_PREPROCESSOR_DEFINITIONS_Firefox = NDEBUG=1
GCC_PREPROCESSOR_DEFINITIONS = BRAVE=1 $(GCC_PREPROCESSOR_DEFINITIONS_$(CONFIGURATION))

SWIFT_OPTIMIZATION_LEVEL_Debug = -Onone
SWIFT_OPTIMIZATION_LEVEL_Firefox = -Owholemodule
SWIFT_OPTIMIZATION_LEVEL = $(SWIFT_OPTIMIZATION_LEVEL_$(CONFIGURATION))
